<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8" />
	<title>New wing</title>
	<link rel="stylesheet" th:href="@{/wingInput.css}" />

</head>

<body>
	<div th:fragment="New wing">
		<h1>Add your new wing</h1>

		<form id="form" action="" method="post">
			<div id='checkMy'>
				<input type="radio" checked="true" id="my" name="my" value="true" />
				<label for="my">It's my wing</label>
				<input type="radio" id="borrowed" name="my" value="false" />
				<label for="borrowed">It's borrowed wing</label>
			</div>
			<div id=usedDiv>
				<input type="checkbox" id="used" name="used" value="false" />
				<label for="used">It's used wing</label>
			</div>

			<div>
				<label for="manufacturer">Manufacturer</label>
				<input class="field" id="manufacturer" type="text" placeholder="UP" name="manufacturer" required />
			</div>
			<div>
				<label for="model">Model</label>
				<input class="field" id="model" type="text" placeholder="Rimo" name="model" required />
			</div>
			<div>
				<label for="size">Size</label>
				<input class="field" id="size" type="text" placeholder="S/M" name="wingSize" required />
			</div>
			<div>
				<label for="category">Category</label>
				<input class="field" id="category" type="text" placeholder="ENA" name="category" required />
			</div>

			<div id=myWing>
				<div>
					<label for="purchased">Purchase date</label>
					<input class="field" id="purchased" type="text" placeholder="2021-11-01" name="purchased" />
				</div>
				<div id=usedWing style="display: none;">
					<label for="initialHours">Initial hours</label>
					<input class="field" id="initialHours" type="text" placeholder="50" name="initialHours" />
				</div>
				<div>
					<label for="nextCheckDate">Next check date</label>
					<input class="field" id="nextCheckDate" type="text" placeholder="2021-11-01" name="nextCheckDate" />
				</div>
				<div>
					<label for="nextCheckHours">Next check hours</label>
					<input class="field" id="nextCheckHours" type="text" placeholder="200" name="nextCheckHours" />
				</div>
			</div>

			<input class="button" type="submit" value="Submit" />

		</form>
	</div>

	<script>

		const form = document.getElementById("form");
		form.addEventListener('submit', (e) => addWing(e));

		const myWing = document.getElementById("myWing");
		const usedWing = document.getElementById("usedWing");
		const usedDiv = document.getElementById("usedDiv");

		const checkMy = document.getElementById("checkMy");
		const my = document.getElementById("my");

		checkMy.addEventListener('change', () => {
			if (my.checked) {
				myWing.style.display = 'block';
				usedDiv.style.display = 'block';
			} else {
				myWing.style.display = 'none';
				usedDiv.style.display = 'none';
			}

		});

		const used = document.getElementById("used");
		used.addEventListener('change', () => {
			if (used.checked) {
				usedWing.style.display = "block";
			} else {
				usedWing.style.display = "none";
			}
		});


		function addWing(e) {
			e.preventDefault();
			const formData = new FormData(form);
			const obj = Object.fromEntries(formData);

			const url = 'http://localhost:8080/mvc/wings/new';
			const options = {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(obj)
			};

			fetch(url, options)
				.catch(error => console.log(error));

		}






	</script>
</body>

</html>