<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Wings</title>
  <link rel="stylesheet" th:href="@{/Styles.css}" />
  <link rel="stylesheet" href="../static/Styles.css" />
</head>

<body>
  <div th:fragment="wings">
    <h1>Wings</h1>
    

    <table>
      <thead>
        <tr>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Size</th>
        </tr>
      </thead>
      <tr th:each="wing : ${wings}">
        <td th:text="${wing.manufacturer}">Manufacturer</td>
        <td th:text="${wing.model}">Model</td>
        <td th:text="${wing.wingSize}">Size</td>
        <td><a th:href="'/mvc/wings/' + ${wing.id}">detail</a></td>
      </tr>
    </table>

    <a href="/mvc/wings/new">Add new wing</a>
  </div>
</body>

</html>